<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<font face='garamond' style="overflow-x:hidden;">
    <div class="container-fluid">
<div class="row">
    <div class="col-md-12 text-center bg-success ">
        <center><h3 class="text-light">Application Confirmed</h3></center>
    </div> 
    
</div>
<div class="row">
 
        <div class="col-12 p-5">
            <p>Hello %s,</p><br/>
            <p>We are pleased to inform you that you have successfully applied for services of Educast. Now you can proceed further with next processings.
                We request you to please login to school module and provide the following details.
            </p>
            <ul>
                <li>A Copy Of School Registration Certificate</li>
                <li>Identity Proof</li>
                <li>Address Proof</li>
                <li>GST Number</li>
            </ul>
            <br/><br/>
            <h4>Your Login Credentials Are As Follows: </h4>
            <p>Application ID: %s<br/>Password: %s</p>
            <br/>
            <p style="font-weight: bold;" class="text-success">Warm Regards,<br/>Educast.</p>
            <hr/>
            <p class="bg-danger text-light">Dear User, Do not share your application id and password with anyone. Educast will not be responsible for any unauthorized activity in your account.</p>
        </div>
        
    </div>
</div>
</font>